@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    dynamic blogHome = Model.AncestorOrSelf("Blog");
}
<h4>Archive</h4>
<ul class="blog-archive">
    @foreach (var blogYear in blogHome.Children.OrderBy("PostDate descending"))
    {
        <li>@blogYear.Name
            <ul class="blog-archive-months">
                @foreach (var blogMonth in blogYear.Children.OrderBy("CreateDate descending"))
                {
                    <li><a href="@blogMonth.Url">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int) blogMonth.Name)</a> (@blogMonth.Descendants("BlogPost").Count())</li>
                }
            </ul>
        </li>
    }
</ul>
