@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    string topBannerImageId = Model.GetProperty("topBannerImage") == null ? null : Model.GetProperty("topBannerImage").Value;
    dynamic topBannerImage = string.IsNullOrWhiteSpace(topBannerImageId) ? null : Library.MediaById(int.Parse(topBannerImageId));
    string sectionClass = topBannerImage == null ? string.Format("class=\"section section-breadcrumbs\"") : string.Format("class=\"section section-breadcrumbs section-banner-image\"");
    string sectionStyle = topBannerImage == null ? "" : string.Format("style=\"background-image: url('{0}');\"", topBannerImage.Url);
}

<div @Html.Raw(sectionClass) @Html.Raw(sectionStyle)>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (topBannerImage != null)
                {
                    <div class="heading-transbox"><h1>@Model.pageName</h1></div>
                }
                else
                {
                    <h1>@Model.pageName</h1>
                }
            </div>
        </div>
    </div>
</div>

