<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.37" targetFramework="net40" requireReinstallation="true" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="GoCardless" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>