/*LAYOUT*/
/* CSS Document 
COLORS:
Yellow:#FFF10A;

*/
html {
	overflow-y:			scroll;
}

body {
	text-align: center; 
	padding: 0px; 
	margin: 0px; 
	background-image: 		url('/images/mstc-bg.png');
}

a img {
border:0;
}

#main {
	margin: 				auto; 
	text-align: 			left;
	width: 					1024px;
}

#white-shadow {
	padding-bottom: 			20px; 
	float:					left;
	background-image:		url('/images/main-bg.png');
	background-repeat:		repeat-y;
}

#top	{
	
}

#top ul{list-style: none; padding: 0px 0px 15px 0px; margin: 0px;}
#top ul li{display: inline; margin: 0px; padding: 0xp;}
#top ul li a{padding: 10px;}

#body {
	margin: 				auto; 
	float:					left;
	
}

/* Subpages layout */
#content{
	text-align: left;
	padding-top:20px;
	float:left;
	width:991px;
	margin-left:20px;
	margin-top:-80px;
	z-index:100;
}

#signin-content {
	border-top: 3px solid #E6E6E6;
	width: 100%;
	float: left;
	margin: 0px 0px 0px 0px;
	padding-top: 10px;
	margin-left: 17px;
	width:991px;
	z-index:100;
}

#low-content{
	text-align: left;
	padding-top:10px;
	float:left;
	width:991px;
	margin-left:17px;
	border-top: 3px solid #FFF10A;
	margin-top:10px;
}

#subNavigation{width: 20em; float: right;}
#subNavigation ul{list-style: none; border: 1px solid #FFE8CD; background: #FFF9D8;}

/* FONTS standards */
body {
		font-size: 12px; 
		font-family: Verdana, "Lucida Grande", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #000; 
	font-weight: 500;
	font-family: 		'Arvo', arial, serif;
}
h1 {font-size:60px; line-height: 1; margin-bottom:0.5em; font-weight: bold; text-align: center; letter-spacing: -1px; width: auto; color: #666;}
h2 {
	font-family: 		'Arvo', arial, serif;
	font-size:16px;
	color:#333333;
	font-weight:bold;
	margin:				0;
}

h3 {font-size: 18px;line-height:1;margin-bottom:1em;}
h4 {}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

p {
	
}

p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}

/* LINKS standards */
a:focus, a:hover {color:#000;}
a {color: #14223E;text-decoration:underline;}
h1 a{color: #666; text-decoration: none;}

/* ELEMENTS standards */
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
th, td {padding:4px 8px 4px 8px;}
tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}

/* FORM ELEMENTS */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:300px;height:250px;padding:5px;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.error ul{margin-bottom: 0; padding-bottom: 0;}

/* MID SUSSEX TRIATHLON SPECIFIC CLUB STYLES */

/* colors
yellow: #FFF10A
*/

#verytop {
	font-family: 		'Arvo', arial, serif;
	color:				#FFFFFF;
	background-color:	#333333;
	text-align:			left;
	background-image:	url('/images/yellow-band.png');
	background-repeat:	no-repeat;
	background-position: 40% 0;
	margin-bottom:		0;
	height:				28px;
	float:				left;
	width:				100%;
}

#verytop a {
	text-decoration:	none;
	color:				#999999;
}

#verytop a:hover {
	text-decoration:	none;
	color:				#FFF10A;
}

div#verytop-menu {
	float:left;
	width: 69%;
	padding:			6px 0px 0px 6px;
}

div#verytop-search-form {
	float:				left;
	margin-top:			5px;
}

div#verytop-search-form input {
	background-color:	#999999;
	border:				1px solid #999999;
	font-size:			10px;
	padding:			1px 2px;
	letter-spacing:		1px;
	color:				#EFEFEF;
}

div#verytop-search-form input.submit {
	background-color:	#999999;
	border:				1px solid #999999;
	font-size:			10px;
	font-weight:		bold;
	padding:			1px 4px 2px 4px;
	letter-spacing:		1px;
	color:				#EFEFEF;
}

div#verytop-search-form input.submit:hover {
	background-color:	#FFF10A;
	border:				1px solid #FFF10A;
	color:				#111111;
}


div#verytop-search-form img {
	vertical-align:		bottom;
	margin:				0px 3px 0px 0px;
	border:				0;
}

ul.verytop-menu {
	margin:				0;
	padding:			0;
	list-style:			none;
}

ul.verytop-menu li {
	display:			inline;
	padding:			0px 20px 0px 0px;
	font-size:			12px;
}

ul.verytop-menu li.mstc-site {
	font-weight:		bold;
}

ul.verytop-menu li.splitter {
	
}

div#logo-header {
	float: 				left;
	display: 			block;
	height: 			154px;
	margin-left:		17px;
	width: 				991px;
	border-bottom: 		3px solid #FFF884;
	background:			url('/images/mstc-header.png') no-repeat;
	
}

div#logo-header > #MSTC-logo {
	width:				240px;
	float:				left;
	margin:				20px 0px 0px 26px;
}

div#logo-header > #header-text {
	font-family:		Arvo, Georgia, arial, serif;
	font-weight:		bold;
	width:				440px;
	float:				left;
	margin:				20px 0px 0px 36px;
}

div#logo-header > #header-text {
	width:				440px;
	float:				left;
	margin: 			26px 0px 0px 46px;
	line-height: 		23px;
}

div#logo-header > #header-text h4 {
	font-size:			18px;
	display:			inline;
	font-weight:		bold;
}

div#logo-header > #top-ads {
	color:				#55AB24;
	font-size:			14px;
	font-weight:		bold;
	float:				left;
	width:				308px;
	margin:				20px 0 0 20px;
}

div#logo-header > #top-ads img {
	border:				0;
	margin:				8px 0px 0px 10px;
}

div#logo-header > #social-search {
	float:				left;
	text-align:			right;
	width:				708px;
}

div#logo-header > #social-search img {
	margin:				2px 4px 0px 0px;
	border:				0;
	vertical-align:		top;
}

div#logo-header > #social-search input {
	font-family:		verdana;
	font-size:			11px;
	margin:				0;
	padding:			1px 2px;
}

div#logo-header > #social-search .submit {
	font-family:		verdana, 'Arvo', arial, serif;
	font-size:			10px;
	font-weight:		bold;
	color:				#cccccc;
	background-color:	#000000;
	border:				1px solid #000000;
	margin:				0;
	padding:			2px 3px;
}

div#logo-header > #social-search .submit:hover {
	color:				#FFF10A;
	border:				1px solid #999999;
}


div#xsltsearch {
	float:				right;
	margin:				0px 0px 0px 6px;
}

#menu {
	float:				left;
	width:				991px;
	border-top:			7px solid #FFF10A;
	margin-left:		17px;
}


div.forum-link  {
	float:				right;
	font-size:			16px;
	padding:			10px 20px 0px 0px;
	text-align:			right;
}

div.forum-link a {
	color:				#E2B424;
	font-family: 		'Arvo', arial, serif;
	text-decoration:	none;
}

/* feature styles */

#feature {
	width:					100%;
	float:					left;
	margin:					0px 0px 0px 0px;
	padding-top:			10px;
	margin-left: 			14px;
	width: 					998px;
	background:				url('/images/main-feature-bg.png') no-repeat;
}

#home-mashedlogo {
	float:					left;
	width:					250px;
	margin: 				40px 0px 0px 30px;
	display:				block;
	height:					325px;
	overflow:				visible;
}

#home-mashedlogo th {
	padding:	4px 0px;
	text-align:left;
}

#home-mashedlogo td {
	padding:	4px 0px;
}

#home-mashedlogo label {
	font-weight:			bold;
	text-align:				left;
	font-size:				11px;
	color:					#333333;
}

#home-mashedlogo input {
	background-color:		#F6F6F6;
	border:					0;
	border-bottom:			2px solid #FFF884;
	padding:				2px 2px;
	font-size:11px;
}

#home-mashedlogo input[type="checkbox"] {
	margin:13px 6px 3px 12px;
}

#home-mashedlogo input[type="submit"] {
	font-family:Verdana, Arial, Sans Serif;
	background-color:		#FFF10A;
	font-weight:bold;
	font-size:11px;
	padding:2px 12px;
	border:0;
	text-align:				right;
	margin-right:			30px;
	border-top:				2px solid #FFF884;
	border-bottom:			1px solid #EDEDED;
	letter-spacing:1px;
}

#home-mashedlogo input[type="submit"]:hover {
	background-color:		#333333;
	color:					#FFFFFF;
}

#home-mashedlogo span {
	display:block;
	font-weight:bold;
	margin: 2px 0px;
	font-size:20px;
	font-family: 		'Arvo', arial, serif;
}

#home-mashedlogo td span {
	margin: 0px;
	display:inline;
	font-size:12px;
	font-family:Verdana, Arial, Sans Serif;
}

#home-mashedlogo a {
	text-decoration:none;
	font-weight:bold;
	color:#999999;
}

#home-mashedlogo a:hover {
	text-decoration:none;
	color:#333333;
}

#slider {
	float:left;
	width:680px;
	padding:			28px 14px 4px 4px;
}

#page-feature {
	border:				0;
	height:				250px;
	width:				100%;
	float:				left;
	margin:				0px 0px 0px 0px;
	background:			#000000;
}

div.feature-title {
	position:relative;
	top:-62px;
	font-size:			30px;
	font-family: 		'Arvo', arial, serif;
	color:				#EBEBEB;
	padding:			0px 10px 14px 10px;
	background-image: 	url('/images/transpBlack.png');
	
}


/* Content styles */

#content1, #content2, #content3, #content4 {
	float:				left;
}

#content1 {
	width:				230px;
	padding:			0px 10px 0px 30px;
	
}

#content1 div.home-cL-title {	
	background:			#212121;
}

#content1 div.home-cL-title h2 {
	color:				#FFFFFF;
}

div.content1-box {
	background-color:#F6F6F6;
	padding:10px;
	border-bottom:	3px solid #E6E6E6;
}

div.content1-box p {
	margin: 0 0 10px 0;
}

div.content1-img {
	margin: 4px 0 10px 0;
}

#content2 {
	width:				210px;
	padding-left:		15px;
	border-left:		3px solid #FFF10A;
}

div.content2-box {
	background-color:#F6F6F6;
	padding:10px;
	border-bottom:	3px solid #E6E6E6;
}

#content2 div.home-cL-title {	
	background:			#E6E6E6;
}

#content3 {	
	width:				220px;
	padding-right:		15px;
	margin:				0px 0px 10px 10px;
	border-left:		3px solid #FFF10A;
}

#content3 div.home-cL-title {	
	background:#FFF10A;
}

div.content3-box {
	padding:10px;
}

div.content3-box h3 {
	font-weight:bold;
	font-size:13px;
	line-height:12px;
	margin:2px 0px;
	font-family:Arial, Helvetica, Sans-serif;
}

div.content3-box span.event-date {
	font-size:11px;
	color:#999999;
	display:block;
	
}

div.content3-box span.event-tags {
	color:#328097;
}

div.content3-box span.event-tags a {
	color:#328097;
	text-decoration:none;
	font-size:11px;
	font-style:italic;
}

#content4 {
	width:				217px;
	padding-left:		5px;
}

#content4 div.home-cL-title {	
	color:#999999;
	padding:	4px 6px 2px 0px;
	border-bottom:	2px solid #328097;
}

div.content4-box {
	background-color:#F6F6F6;
	padding:10px 10px 10px 11px;
}

div.content4-box img {
	margin:1px;
}

div.content4-box a img {
	margin:		2px 2px 2px 3px;
}

div#sponsors, div#tri-links, div#connect {
	float:left;
}

div#sponsors {
	margin-left:36px;
	width:230px;
	background:url('/images/low-content-splitter.png') no-repeat right;
}

div#tri-links {
	margin-left:15px;
	width:460px;
	background:url('/images/low-content-splitter.png') no-repeat right;
}

div#sponsors-box, div#tri-links-box, div#connect-box {
	padding:6px;
}

div#connect-box {
	padding:		6px 6px 6px 10px;
}

div#connect-box img {
	margin:			0px 4px 4px 0px;
	padding:		2px;
	border:			1px solid #F6F6F6;
}

div#tri-links-box img {
	float:left;
	margin-right: 10px;
}

div#connect {
	margin-left:15px;
}	

div.home-cL-title {
	margin:				0px 0px 2px 0px;
	padding:4px 6px;
}

div.home-cL-title h2, div.home-cL-title h2 a {
	font-family: 		'Arvo', arial, serif;
	font-size:			16px;
	color:				#333333;
	font-weight:		bold;
	text-decoration:	none;
}

div.home-cL-title h2 a:hover {
	color:				#000000;
	text-decoration:	none;
}


div.home-lC-title {
	margin:				0px 0px 6px 0px;
	font-family: 		'Arvo', arial, serif;
	font-size:14px;
	padding:4px 6px;
	color:#999999;
	font-weight: 600;
}

span.cL-feature-title {
	font-family: 		'Arvo', arial, serif;
	font-weight:		bold;
	font-size:			36px;
	margin-right:		10px;
}

span.cL-feature-title-y {
	font-family: 		'Arvo', arial, serif;
	font-weight:		bold;
	font-size:			36px;
	color:				#FFF10A;
}

div.newsitem  {
	margin-bottom:10px;
}

span.home-news-date {
	font-style:italic;
	color:#999999;
	display:block;
	font-size:11px;
	margin-top:2px;
}

.newsitem a {
	color:				#328097;
	text-decoration:	none;
	font-weight:		bold;
}

.newsitem a:hover {
	color:				#212121;
	text-decoration:	underline;
}

/* FOOTER STYLES */

div#footer {
	clear: both;
	border-bottom: 2px solid #999;
	padding: 10px 4px;
	color: #999;
	font-size: 10px;
	margin-top: 20px;
	float: left;
	margin-left:30px;
	background-color:#F6F6F6;
	
}

div#footer .footer-left {
	width:				220px;
	float:				left;
	margin-top:			2px;
	margin-left:		10px;
}

div#footer .footer-middle {
	width:				380px;
	float:				left;
}

div#footer .footer-middle img {
	border:				1px solid EDEDED;
	margin-right:		4px;
}

div#footer .footer-right {
	width:				338px;
	float:				left;
	text-align:			right;
	background-image:	url('/themes/triclub/cfront-16.png');
	background-position: 35px 0px;
	background-repeat:	no-repeat;
	height:				18px;
	padding-top:			2px;
	margin-right:		10px;
}

div#footer .footer-right a {
	color:				#06B6CB;
	text-decoration:	none;
}

div#footer .footer-right a:hover {
	color:				#07808F;
	text-decoration:	none;
}

/* Text Page Styles */

div.feature-info {
	float: left;
	width: 225px;
	margin: 15px 5px 0px 10px;
	height: 200px;
	z-index: 0;
}

div.feature-info h2 {
	font-size: 24px;
	font-family: 'Arvo', arial, serif;
	padding: 5px;
	margin: 0;
	overflow: hidden;
	font-weight: bold;
}

div.feature-info p {
	margin: 0px 5px 10px 5px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 15px;
}

div#textpage-feature {
	float:left;
	width:680px;
	padding: 		28px 14px 4px 4px;
}

div#textpage-feature img {
	float:			left;
	width:			440px;
	height:			250px;
}

div#img-yellow-title {
	width:			440px;
	position:		relative;
	left:			0px;
	top:			220px;
	z-index:		10;
	background:		url('/images/slider-image-colour.png') repeat-x;
	height:			30px;
}

div#img-yellow-title h2 {
	position:			relative;
	margin:				0px 0px 6px 0px;
	font-family: 		'Arvo', arial, serif;
	font-size:			16px;
	padding:			4px 0px 0px 12px;
	color:				#333333;
	font-weight:		bold;
	top: -242px;
}

div#leftNav {
	width:200px;
	float:left;
	padding: 0px 10px 0px 30px;
}

div#middle-content {
	float:left;
	width:500px;
	margin-right:20px;
}

div#middle-content hr {
	height:1px;
	border:0;
	border-bottom:1px dotted #cccccc;
}

div#rightFeatures {
	float:left;
	width:200px;
}

/* Member stuff */

div.edit_item {
	clear:both;
}

div.edit_item img {
	margin: 6px 0px;
	width:200px;
	height:200px;
	padding:4px;
	border:1px solid #f6f6f6;
}

div.member-item-list {
	float:				left;
	margin-top:			6px;
}

div.member-item {
	width:				500px;
	border-bottom:		1px dotted #cccccc;
	float:				left;
}

div.member-image {
	width:				70px;
	float:				left;
	padding:			4px;
	height:				46px;
}

div.member-image img {
	margin: 2px 0px 2px 8px;
	width:32px;
	height:32px;
	padding:4px;
	border:1px solid #E2E2E2;
	background:#FFFFFF;
}

div.member-name {
	float:				left;
	font-weight:		bold;
	padding:			18px 10px 0px 0px;
}

div.member-links {
	float:				left;
	font-weight:		bold;
	padding:			15px 10px 0px 0px;
}

div.member-links img {
	border:0;
}

table.member-detail {
	margin:				10px 0px 0px 0px;
}

table.member-detail td {
	margin:				0px;
	padding:			0px;
	vertical-align:		top;
}

table.member-detail td  label {
	font-weight:bold;
	color:#999999;
	float:left;
	width:60px;
}

table.member-detail td.member-detail-info {
	margin:				6px 0px 0px 6px;
	vertical-align:		top;
	padding-left:10px;
	line-height:		2em;
}

table.member-detail td.member-detail-image {
	width:130px;
}

span.member-name {
	color: #000; 
	font-weight: 500;
	font-family: 		'Arvo', arial, serif;
	font-size:24px;
}

td.member-detail-image img {
	margin: 2px 0px 2px 0px;
	width:120px;
	height:120px;
	padding:4px;
	border:1px solid #E2E2E2;
	background:#FFFFFF;
}

div.edit_item label {
	float:left;
	width:180px;
	font-weight:bold;
	margin-top:3px;
}

div.member_edit {
	margin-top:10px;
}

div.gallery_link {
	margin-top:10px;
}

div.gallery_link label {
	display:block;
	float:left;
}

div.gallery_link label a {
	text-decoration:none;
	padding:2px 4px;
}

div.gallery_link label a:hover {
	background:#ededed;
}

div.gallery_link img {
	margin-top:10px;
	padding:4px;
	border:1px solid #F6F6F6;
}

	/* login */
	h2.lf_header {
		
	}
	
	div.lf_control_item {
		margin-top:16px;
	}
	
	div.lf_control_item span {
		display:none;
	}

	div.lf_control_item input[type="checkbox"]{
		float:left;
	}

	div.lf_control_item label {
		float:left;
		width:90px;
		margin-top:4px;
	}
	
	div.lf_submit_item {
		margin-top: 0px;
		clear: both;
		float:right;
	}

/* club records */

td.athletecat {
	
}

td.eventtype {
	
}

td.record_title {
	
}

td.record_text_dist {
	
}

td.record_text {
	
}

/* page sub menus */

ul.pageSubMenu {
	list-style:none;
	margin: 10px 0px 0px 0px;
	padding:0;
}

ul.pageSubMenu li {
	padding:2px;
	font-size:11px;
	margin:0;
}

ul.pageSubMenu li a {
	text-decoration:none;
	padding:	2px 4px;
	font-weight:bold;
	border-bottom:1px dotted #cccccc;
	color:#666666;
}

ul.pageSubMenu li a:hover {
	text-decoration:none;
	background-color:	#FFF10A;
	border-top:2px solid #FFF884;
	border-bottom:1px dotted #cccccc;
}

/* contact form stuff */

p.contacts_form label {
	float:left;
	width:100px;
	font-weight:bold;
}

p.contacts_form input, p.contacts_form textarea {
	background:			#e6e6e6;
	border:				1px solid #FFFFFF;
	
}

p.contacts_form textarea {
	height:			120px;
	
}



/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
