

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h3 {
color: #53555c; font-family: 'Open Sans',sans-serif; font-size: 1.5em; margin-bottom: 10px; font-weight: 700px;
}

.standard-text {
font-size: 12px; font-family:Verdana, "Lucida Grande", Arial, sans-serif; color:#000000;
}

.image-left {
box-shadow: 0 0 5px #000; float: left;
}

.image-right {
box-shadow: 0 0 5px #000; float: right;
}

