.flickrbadge *{
	background:#fff;
	margin:0;
	padding:0;
 	list-style:none;
	border:none;
	font-family:arial,sans-serif;
}
.flickrbadge ul ul{
    padding:0;margin:0;
}
.flickrbadge{
    font-size:120%;
	width:410px;
	padding:0 0 5px 10px;
	position:relative;
	text-align:left;
	border:1px solid #ccc;
	margin:10px;
    overflow:hidden;
}
.flickrbadge a{
	display:block;
	font-size:1em;
	color:#369;
	text-align:right;
	font-weight:bold;
	text-decoration:none;
}
.flickrbadge a.flickrlink{
	padding-top:.3em;
	text-align:left;
	margin-right:60px;
}
.flickritems{
    padding-top:10px;
    position:relative;
	width:420px;
}
.flickritems li{
    float:left;
    padding:0 5px 5px 0;
}
.flickrbadge p{
    clear:both;
	text-align:right;
	padding-right:13px;
}
.flickrbadge p a{
	color:#369;
	font-size:.8em;	
}
.flickritems li img{
    display:block;
	border:1px solid #ccc;
}
