
/* CSS Document 

	Mid Sussex Tri Club - Main Stylesheet (New for 2014 to replace runway.css)
	
	Author: cFront Software Ltd. (SN)
	Date:	08/01/2014
	
	COLORS:
	Yellow: #FFF10A;
	Blue:	#328097;

*/

h1, h2, h3, h4, h5 {
	font-family: 'Arvo', arial, serif;
}

h1 {
	font-size: 36px;
	color: #333333;
	margin: 0 0 18px 0;
	font-weight: normal;
	text-align:left;
}

h2 {
	font-size: 16px;
	color: #333333;
	margin: 0;
	font-weight: bold;
}


h4 {
	font-size:1.2em;
}

/* Member Section */

#twoColRightContent {
	float:left;
	width:500px;
	margin-right:20px;
	padding: 0px;
}


#memberContent {
	text-align: left;	
	padding-top:20px; 
	float:left; 
	width:991px;	
	margin-left:17px;	
	z-index:100;
	border-top:3px solid #DDDDDD;
}

#memberContent h2 {
	font-size: 2em;
	margin:20px 0;
}

#memberContent h3 {
	font-size: 1.5em;
	color:#666666;
	display:block;
	padding-bottom:0.25em;
	border-bottom:2px solid #DDDDDD;
}

.member_edit input[type="text"],
.member_edit textarea {
	background:#EDEDED;
	border:0;
	padding:8px;
	color:#333333;
}

.member_edit input[type="text"] {
	width:200px;
}

.member_edit textarea {
	width:300px;
	height:100px;
	font-family:Verdana;
}

.member_edit input.txt_large {
	width:300px;
}


.member_edit input.btn_submit {
	color:#FFFFFF;
	background:#4f8fc1;
	padding:0.5em 2em;
	border:0;
	font-size:1.5em;
	outline:none;
}

.member_edit input.btn_submit:hover {
	cursor:pointer;
	background:#cd035d;
}

#memberSubs {
	background:#4f8fc1;
	color:#FFFFFF;
}

#memberSubs h2,
#memberActivities h2 {
	font-weight:normal;
	padding:10px 20px;
	color:#FFFFFF;
	margin:0;
}

div#rightFeatures #memberSubs a {
	padding:6px;
	background:#cd035d;
	color:#FFFFFF;
	text-decoration:none;
	display: block;
	margin: 10px 0;
}

div#rightFeatures #memberSubs a:hover {
	background:#b60453;
}

#memberSubs h2 {
	background:#25679a;
}

#memberSubs div,
#memberActivities div {
	padding:10px 20px;
}

#memberSubs div h4,
#memberActivities div h4 {
	color:#FFFFFF;
}	

#memberSubs span.date {
	display:block;
	margin:10px 0;
	font-size:2em;
	font-family: 'Arvo', arial, serif;
}

#memberActivities {
	margin-top:20px;
	background:#cd035d;
	color:#FFFFFF;
}

#memberActivities h2 {
	background:#b60453;
}

.edit_controls {
	display:block;
	margin-top:20px;
}

.help {
	background:#EEEEEE;
	padding:10px;
}

table.membership_payment {
	width:100%;
	border:0;
	border-collapse:collapse;
	
}

table.membership_payment tr:hover td {
	background:#EEEEEE;
}

table.membership_payment td.type {
	width:60%;
}

table.membership_payment td.price {
	width:30%;
	font-size:1.5em;
}

table.membership_payment td.control {
	width:10%;
	min-width:100px;
	text-align:center;
}

table.membership_payment td button {
	border:none;
	padding:0.5em 1em;
	text-align:center;
	background:#4f8fc1;
	color:#FFFFFF;
}

table.membership_payment td button:hover {
	cursor: pointer;
	background: #cd035d;
}

div#rightFeatures a.entry-link, 
div.event-detail a.entry-link, 
div.feature-info a.entry-link, 
div#middle-content a.entry-link,
p.entry-link {
	display:block;
	margin:20px 0px;
	padding:10px 20px;
	text-align:center;
	background:#4f8fc1;
	font-family: 'Arvo', arial, serif;
	font-size:16px;
    cursor: pointer;
}

p.entry-link a {
    color:#FFFFFF;
    text-decoration:none;
}

p.entry-link a:hover {
	text-decoration:none;
	background:#315877;
	color:#FFFFFF;
	transition: all 0.5s ease;
}

.page_right_img {
	float:right;
	margin:0 0 20px 20px;
}

/* Junior entry form */

#juniorEntry h2 {
	font-size:24px;
	border-bottom:1px solid #CCCCCC;
	margin:1em 0;
	padding:0.5em 0;
}

#juniorEntry label {
	font-weight:bold;
	display:inline-block;
	width:20%;
	margin-right:1%;
}

#juniorEntry input,
#juniorEntry textarea,
#juniorEntry select {
	border:0;
	background:#E8E8E8;
	padding:8px;
	color:#333333;
	font-family:Verdana, sans-serif;
}

#juniorEntry textarea {
	width: 80%;
	height: 120px;
}

#juniorEntry input.txtbox {
	width:40%;
}

#juniorEntry input.txtboxS {
	width:25%;
	max-width:40px;
}

#juniorEntry input.txtboxW {
	width:65%;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */